<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiệu Sách Online</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/264e375a82.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrapper">
        <!-- header -->
        <header>
            <nav class="header__navbar">   
                <div class="header__navbar-logo">
                    <img class="header__navbar-logo-img" src="../../assets/img/AMYTH.svg">
                </div>
                <div class="header__navbar-search">
                    <input type="text" class="header__navbar-search-input" placeholder="Tìm kiếm sản phẩm...">
                    <button class="header__navbar-search-btn">
                        <i class="header__navbar-search-btn-icon fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
                <div class="header__navbar-cart">
                    <i class="header__navbar-cart-icon fa-solid fa-cart-shopping"></i>
                </div>
                <ul class="header__navbar-list">
                    <li class="header__navbar-item"><button class="header__navbar-item-signup-btn">Đăng Nhập</button></li>
                    <li class="header__navbar-item"><button class="header__navbar-item-login-btn">Đăng Ký</button></li>
                </ul>
            </nav>
        </header>
        <!-- content containter -->
        <div class="container">
            
        </div>
        <!-- footer -->
        <footer>
                <div class="footer-logo">
                    <img src="../../assets/img/AMYTH.svg">
                </div>
        
            <div class="footer__column">
                <h3 class="footer__heading">Dịch vụ</h3>
                <ul class="footer-list">
                    <li class="footer-item"><a href="" class="footer-item-link">Điều khoản sử dụng</a></li>
                    <li class="footer-item"><a href="" class="footer-item-link">Giới thiệu về chúng tôi</a></li>
                    <li class="footer-item"><a href="" class="footer-item-link">Hệ thống trung tâm nhà sách</a></li>
                </ul>
            </div>
            <div class="footer__column">
                <h3 class="footer__heading">Thông tin liên hệ</h3>
                <ul class="footer-list">
                    <li class="footer-item"><i class="fa-solid fa-phone"></i>1234567890</li>
                    <li class="footer-item"><i class="fa-solid fa-envelope"></i>amyth123@gmail.com</li>
                    <li class="footer-item"><i class="fa-solid fa-location-dot"></i>273 Đ. An Dương Vương, Phường 3, Quận 5, Hồ Chí Minh</li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>