:root {
    --bg-color: rgb(249, 241, 231);
    --white-color: white;
    --text-color: rgb(20, 18, 18);
    --shadow-color: rgba(20, 18, 18, 0,6);
    --button-color: rgb(20, 18, 18);
    --hover-color: rgba(82, 79, 79, 0.8);
    --price-color: rgb(238, 67, 67);
    --white-hover-color: rgb(242, 242, 242);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    background: var(--bg-color);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

    /*--------- header -------- */
header {
    width: 100%;
    height: 80px;
    background-color: var(--white-color);
}

.header__navbar {
    width: 1250px;
    height: 100%;
    margin: auto;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navbar-logo {
    display: block;
    float: left;
    color: var(--text-color);
    width: 200px;
}

.header__navbar-logo-img {
    width: 120px;
}

.header__navbar-search{
    flex: 1;
    display: flex;
    height: 46px;
    border: var(--button-color) 1px solid;
    border-radius: 10px;
    background-color: var(--white-color);
}

.header__navbar-search-input{
    flex: 1;
    height: 100%;
    padding: 0 16px;
    border: none;
    outline:none;
    border-radius: 10px;
    font-size: 1.6rem;
    color: var(--text-color);
}

.header__navbar-search-btn{
    background-color: var(--button-color);
    border:none;
    height: 42px;
    width: 42px;
    border-radius: 10px;
    margin: 2px 2px;
}
.header__navbar-search-btn:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.header__navbar-search-btn-icon {
    font-size: 1.6rem;
    color: var(--white-color);
}

.header__navbar-cart {
    width: 100px;
}

.header__navbar-cart-icon {
    margin-left: 16px;
    font-size: 2.5rem;
    color: var(--button-color);
}

.header__navbar-cart-icon:hover {
    color: var(--hover-color);
    cursor: pointer;
}

.header__navbar-item {
    width: 120px;
    height: 40px;
    font-size: 1.6rem;
    display: inline-block;
    margin: 0 10px;
}

.header__navbar-item-signup-btn {
    width: 100%;
    height: 100%;
    /* border: none; */
    border: 2px var(--button-color) solid;
    outline: none;
    font-size: 1.6rem;
    border-radius: 10px;
    padding: 8px;
    background-color: var(--white-color);
    color: var(--button-color);
}

.header__navbar-item-signup-btn:hover {
    color: var(--hover-color);
    border: 2px var(--hover-color) solid;
    cursor: pointer;
}

.header__navbar-item-login-btn {
    width: 100%;
    height: 100%;
    /* border: none; */
    border-color: transparent;
    outline: none;
    font-size: 1.6rem;
    border-radius: 10px;
    padding: 8px 12px;
    background-color: var(--button-color);
    color: var(--white-color);
}

.header__navbar-item-login-btn:hover {
    /* color: var(--white-color); */
    /* border-color: transparent; */
    background-color: var(--hover-color);
    cursor: pointer;
}

    /*--------- container -------- */
.container {
    flex: 1;
    width: 80%;
    justify-items: center;
    align-content: center;
}

    /* -----Yen container__cart-payment start----- */

.container__cart-payment {
    min-height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px 0;
}

.cart-info {
    padding: 20px;
    border-radius: 5px;
    grid-column: span 8;
    grid-row: span 4;
    background-color: var(--white-color);
    color: var(--text-color);
}

.section {
    width: 100%;
    padding-bottom: 10px;
}

.section > h1 {
    font-size: 22px;
    font-weight: 500;
    padding: 10px 0;
}

.shipping-address-details {
    display: flex;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #F8F8F8;
    border: 0.2px solid black;
    justify-content: space-between;
}

.address-info p {
    font-size: 16px;
}

.change-address-button {
    border: 0.2px solid black;
    border-radius: 10px;
    padding: 0 10px;
    background-color: var(--white-color);
}

.change-address-button:hover {
    color: var(--hover-color);
    cursor: pointer;
}

.payment-radio {
    font-size: 16px;
    margin-bottom: 6px;
}

.payment-radio input[type="radio"] {
    margin-right: 8px;
}

.cart-product {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.product-img-name {
    display: flex;
}

.cart-product h4 {
    font-size: 16px;
    font-weight: 400;
}

.cart-product p {
    font-size: 15px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.cart-img-product {
    width: 90px;
    height: 100px;
}

.cart-shipping-and-total {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    grid-column: span 4;
    grid-row: span 2;
    background-color: var(--white-color);
    color: var(--text-color);
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
}

.cart-shipping-and-total h1 {
    padding-bottom: 10px;
}

.total-amount, .shipping-fee, .total-cost {
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px;
    border-bottom: 1px solid black;
}

.btn-checkout {
    margin-top: 20px;
    width: 140px;
    height: 36px;
    border-color: transparent;
    outline: none;
    font-size: 16px;
    border-radius: 10px;
    padding: 8px 10px;
    background-color: var(--button-color);
    color: var(--white-color);
}

.btn-checkout:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

    /* -----Yen container__cart-payment end----- */

    /*--------- footer -------- */
footer {
    width: 100%;
    display: flex;
    /* position: relative; */
    top: 2rem;
    bottom: 0;
    background-color: var(--white-color);
    justify-content: center;
    color: var(--text-color);
}

.footer-logo {
    width: 300px;
    margin-left: 3rem;
    margin-top: 3rem;
}

.footer-logo img {
    width: 120px;
}

.footer__column {
    width: 450px;
    margin: 3rem 0;
}

.footer__column h3 {
    margin: 1rem 0;
    font-size: 20px;
}

.footer__column a,
.footer__column li {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    margin-bottom: 6px;
}

.footer__column a:hover {
    color: var(--hover-color);
}

.footer__column i {
    font-size: 18px;
    margin-right: 8px;
}
