<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/admin/style.css">
    <title>Admin</title>
</head>
<body>
    <main>
        <div class="sidebar">
            <img src="/assets/img/AMYTH.svg">
            <div class="taskbar">  
                <p><a href="#" data-page="products">Quản lý sản phẩm</a></p>
                <p><a href="#" data-page="employees">Quản lý nhân viên</a></p>
                <p><a href="#" data-page="customers">Quản lý khách hàng</a></p>
                <p><a href="#" data-page="invoices">Quản lý hóa đơn</a></p>
                <p><a href="#" data-page="phieunhap">Quản lý phiếu nhập</a></p>
                <p><a href="#" data-page="stats">Thống kê</a></p>
            </div>

            <div class="account">
                <img src=""> <span>admin</span>
                <img src="" id="logout">
            </div>
        </div>
        <div class="content" id="products">
            <h2>Sản phẩm</h2>
        </div>

        <div class="content hidden" id="employees">
            <h2>Nhân Viên</h2>
        </div>

        <div class="content hidden" id="customers">
            <h2>Khách hàng</h2>
            <div class="client-search">
                <input type="text" placeholder="Nhập số điện thoại">
                <button type="button">Tìm</button>
                <p>Tổng số lượng: 50</p>
            </div>

            <div class="client-list">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên khách hàng</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>Võ Xuân Mai</td>
                            <td>0100203045</td>
                            <td>abc123@gmail.com</td>
                            <td>
                                <button class="info-btn">i</button>
                                <button class="edit-btn">✎</button>
                                <button class="delete-btn">🗑️</button>
                            </td>
                        </tr>

                        <tr>
                            <td>02</td>
                            <td>Võ Xuân Mai</td>
                            <td>0100203045</td>
                            <td>abc123@gmail.com</td>
                            <td>
                                <button class="info-btn">i</button>
                                <button class="edit-btn">✎</button>
                                <button class="delete-btn">🗑️</button>
                            </td>
                        </tr>

                        <tr>
                            <td>01</td>
                            <td>Võ Xuân Mai</td>
                            <td>0100203045</td>
                            <td>abc123@gmail.com</td>
                            <td>
                                <button class="info-btn">i</button>
                                <button class="edit-btn">✎</button>
                                <button class="delete-btn">🗑️</button>
                            </td>
                        </tr>

                        <tr>
                            <td>01</td>
                            <td>Võ Xuân Mai</td>
                            <td>0100203045</td>
                            <td>abc123@gmail.com</td>
                            <td>
                                <button class="info-btn">i</button>
                                <button class="edit-btn">✎</button>
                                <button class="delete-btn">🗑️</button>
                            </td>
                        </tr>

                        <tr>
                            <td>01</td>
                            <td>Võ Xuân Mai</td>
                            <td>0100203045</td>
                            <td>abc123@gmail.com</td>
                            <td>
                                <button class="info-btn">i</button>
                                <button class="edit-btn">✎</button>
                                <button class="delete-btn">🗑️</button>
                            </td>
                        </tr>

                        <tr>
                            <td>01</td>
                            <td>Võ Xuân Mai</td>
                            <td>0100203045</td>
                            <td>abc123@gmail.com</td>
                            <td>
                                <button class="info-btn">i</button>
                                <button class="edit-btn">✎</button>
                                <button class="delete-btn">🗑️</button>
                            </td>
                        </tr>

                        <tr>
                            <td>01</td>
                            <td>Võ Xuân Mai</td>
                            <td>0100203045</td>
                            <td>abc123@gmail.com</td>
                            <td>
                                <button class="info-btn">i</button>
                                <button class="edit-btn">✎</button>
                                <button class="delete-btn">🗑️</button>
                            </td>
                        </tr>

                        <tr>
                            <td>01</td>
                            <td>Võ Xuân Mai</td>
                            <td>0100203045</td>
                            <td>abc123@gmail.com</td>
                            <td>
                                <button class="info-btn">i</button>
                                <button class="edit-btn">✎</button>
                                <button class="delete-btn">🗑️</button>
                            </td>
                        </tr>

                        <tr>
                            <td>01</td>
                            <td>Võ Xuân Mai</td>
                            <td>0100203045</td>
                            <td>abc123@gmail.com</td>
                            <td>
                                <button class="info-btn">i</button>
                                <button class="edit-btn">✎</button>
                                <button class="delete-btn">🗑️</button>
                            </td>
                        </tr>

                        <tr>
                            <td>01</td>
                            <td>Võ Xuân Mai</td>
                            <td>0100203045</td>
                            <td>abc123@gmail.com</td>
                            <td>
                                <button class="info-btn">i</button>
                                <button class="edit-btn">✎</button>
                                <button class="delete-btn">🗑️</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="content hidden" id="invoices">
            <h2>Hóa đơn</h2>
            <div class="client-search">
                <input type="text" placeholder="Nhập số điện thoại">
                <button type="button">Tìm</button>
                <button class="thd">Thêm</button>
            </div>

            <div class="client-list">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên khách hàng</th>
                            <th>Số điện thoại</th>
                            <th>Ngày tạo</th>
                            <th>Tổng tiền</th>
                            <th>Trạng thái</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>Võ Xuân Mai</td>
                            <td>0100203045</td>
                            <td>11/11/2024</td>
                            <td>Tổng tiền</td>
                            <td>Hủy</td>
                            <td>
                                <button class="info-btn">i</button>
                                <button class="edit-btn">✎</button>
                                <button class="delete-btn">🗑️</button>
                            </td>
                        </tr>

                        <tr>
                            <td>01</td>
                            <td>Võ Xuân Mai</td>
                            <td>0100203045</td>
                            <td>11/11/2024</td>
                            <td>Tổng tiền</td>
                            <td>Hủy</td>
                            <td>
                                <button class="info-btn">i</button>
                                <button class="edit-btn">✎</button>
                                <button class="delete-btn">🗑️</button>
                            </td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>Võ Xuân Mai</td>
                            <td>0100203045</td>
                            <td>11/11/2024</td>
                            <td>Tổng tiền</td>
                            <td>Hủy</td>
                            <td>
                                <button class="info-btn">i</button>
                                <button class="edit-btn">✎</button>
                                <button class="delete-btn">🗑️</button>
                            </td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>Võ Xuân Mai</td>
                            <td>0100203045</td>
                            <td>11/11/2024</td>
                            <td>Tổng tiền</td>
                            <td>Hủy</td>
                            <td>
                                <button class="info-btn">i</button>
                                <button class="edit-btn">✎</button>
                                <button class="delete-btn">🗑️</button>
                            </td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>Võ Xuân Mai</td>
                            <td>0100203045</td>
                            <td>11/11/2024</td>
                            <td>Tổng tiền</td>
                            <td>Hủy</td>
                            <td>
                                <button class="info-btn">i</button>
                                <button class="edit-btn">✎</button>
                                <button class="delete-btn">🗑️</button>
                            </td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>Võ Xuân Mai</td>
                            <td>0100203045</td>
                            <td>11/11/2024</td>
                            <td>Tổng tiền</td>
                            <td>Hủy</td>
                            <td>
                                <button class="info-btn">i</button>
                                <button class="edit-btn">✎</button>
                                <button class="delete-btn">🗑️</button>
                            </td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>Võ Xuân Mai</td>
                            <td>0100203045</td>
                            <td>11/11/2024</td>
                            <td>Tổng tiền</td>
                            <td>Hủy</td>
                            <td>
                                <button class="info-btn">i</button>
                                <button class="edit-btn">✎</button>
                                <button class="delete-btn">🗑️</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="content hidden" id="phieunhap">
            <h2>Phiếu nhập</h2>
        </div>

        <div class="content hidden" id="stats">
            <h2>Thống kê</h2>
        </div>

    </main>
    <script src="admin.js"></script>
</body>
</html>
